<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - CarShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/_Layout.css" />
</head>
<body class="backgroundImage">
<header class="header">
    <nav class="nav-menu">
            <a asp-controller="Post" asp-action="GetPosts"><img class="Logo"  src="~/Icons/logo.png"></a>
            <div class="nav-menu-items">
                <div class="nav-menu-item">О сайте</div>
                <div class="nav-menu-item"><a asp-controller="Home" asp-action="Help">Контакты</a></div>
                @if(User.Identity.IsAuthenticated)
                {
                    <div class="nav-menu-item"><a asp-controller="Post" asp-action="Create">Добавить</a></div>
                }
                <div class="nav-menu-item">
                    <img class="profile_icon dropbtn" onclick="myFunction()" src="~/Icons/user_profile_icon.png">
                    <div id="myDropdown" class="dropdown-content">
                        @if(!User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="User" asp-action="Login">Войти</a>
                            <a asp-controller="User" asp-action="Register">Регистрация</a>
                        }
                        else
                        {
                            <a href="/Myprofile/@User.Identity.Name">Мои блоги</a>
                            <a asp-controller="User" asp-action="Logout">Выйти</a>
                        }
                    </div>
                </div>
            </div>
    </nav>
</header>
<div class="container-fluid col-xl-12">
    <main role="main">
        @RenderBody()
    </main>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("pageScripts", required: false)
</body>
</html>